body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0 20px; /* Untuk menambah sedikit padding di sisi-sisi pada tampilan mobile */
}

h1 {
    margin-bottom: 30px;
    color: #000;
    font-weight: 700;
    text-align: left;
    width: 100%;
    max-width: 720px;
}

.input-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d5d6da;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 720px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    background-color: transparent;
    color: #000; /* Warna teks hitam */
    font-size: 16px;
}

#taskInput::placeholder {
    color: #000; /* Warna placeholder hitam */
}

#addTaskButton {
    padding: 10px 20px;
    background-color: #7e906a;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#addTaskButton:hover {
    background-color: #5e7552;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 720px;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-size: 16px;
    position: relative;
}

li input[type="checkbox"] {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #7e906a;
}

li input[type="checkbox"]:checked {
    background-color: #7e906a;
    border: 2px solid #7e906a;
}

li label {
    flex: 1;
    margin-left: 30px;
}

li .delete-button {
    background-color: #7e906a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;
}

li .delete-button:hover {
    background-color: #5e7552;
}

/* Responsiveness */
@media (max-width: 720px) {
    .input-section,
    ul {
        max-width: 100%;
    }
}
